@main : #00d7ae; // <- aqua
@second : #f8bb20; // <- yellow
@third : #f33438; // <- red

@white : #dbdbdb;
@black : #0b202d; // <-dark blue
@light-gray: fade(@main, 20%);
@gray: fade(@white, 40%);
@dark-gray: fade(@main, 20%);

@blue : hsl(204, 86%, 53%);
@green: hsl(141, 71%, 48%);
@yellow: hsl(48, 100%, 67%);
@red: hsl(351, 100%, 50%);
